<ul>
  <li><%= link_to 'Bookmarks', 'http://bookmarks.ai-factory.com',:tagret => '_blank' %></li>
</ul>


<%= image_tag 'rorshah1.jpg', size: '640x480', class: 'image rorshah' %>
<br/>
<%= image_tag 'rorshah2.jpg', size: '640x480', class: 'image rorshah'%>
